*~
.deps
.dirstamp
*.o
*.a
Makefile.in
Makefile

/ChangeLog
/VERSION
/NEWS
/TODO
/AUTHORS

/.version
/.tarball-version

/TAGS
/aclocal.m4
/autom4te.cache

/configure
/config.log
/config.status

/src/stamp-h1
/src/config.h
/src/bfd-section-ls
/src/bfd-section-mv
/src/bfd-section-stat
/src/bfd-section-remangle
/src/bfd-section-symbols

#/src/gnulib/*
#!/src/gnulib/Makefile.am
/src/gnulib/stdlib.h
/src/gnulib/string.h
/src/gnulib/unistd.h

/tools/autotools/link-warning.h

/tools/maint/fetch
/tools/maint/wordwrap-detect
/tools/maint/whitespace-detect
/tools/maint/gitlog-to-committers
/tools/maint/gittag-to-date
/.releases
/tools/maint/releases-to-news
/tools/maint/guards-check

/tools/autotools/install-sh
/tools/autotools/missing
/tools/autotools/mdate-sh
/tools/autotools/texinfo.tex
/tools/autotools/compile
/tools/autotools/depcomp
/tools/autotools/config.guess
/tools/autotools/config.sub

/tests/defs
/tests/testSubDir-*
/tests/test-fail
/tests/test-success

/site/in/.sitetool
/site/in/site.stamp
/site/in/todos.sxml
/site/in/todos.dump
/site/in/news.sxml
/site/in/news.dump
/site/out/*
