*~
.emacs.desktop
.deps
.dirstamp
*.o
*.a
TAGS

build

Makefile.in
Makefile
aclocal.m4
autom4te.cache

ChangeLog
VERSION
NEWS
TODO

configure
configure.ac
config.log
config.status

src/elf-section-ls
src/elf-section-mv
src/elf-stat
src/elf-symbol-find

src/gnulib/sys/stat.h
src/gnulib/alloca.h
src/gnulib/charset.alias
src/gnulib/configmake.h
src/gnulib/ref-add.sed
src/gnulib/ref-del.sed
src/gnulib/stdlib.h
src/gnulib/unistd.h

tools/autotools/link-warning.h

tools/maint/fetch
tools/maint/whitespace-detect
tools/maint/gitlog-to-committers
tools/maint/gittag-to-date

tools/autotools/install-sh
tools/autotools/missing
tools/autotools/mdate-sh
tools/autotools/texinfo.tex
tools/autotools/compile
tools/autotools/depcomp
tools/autotools/config.guess
tools/autotools/config.sub

#docs/man/fcp.1

site/in/.sitetool
site/in/site.stamp
site/in/todos.sxml
site/in/todos.dump
site/in/news.sxml
site/in/news.dump
site/out/*
